@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: rgba(0, 0, 0, 0.9);
}
header h1 {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(32, 32, 32, 0.9);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.nav-Bar {
  width: 70%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-Bar li {
  /* height: 40px; */
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 6px 9px;
  transition: all ease-out 0.5s;
}
.nav-Bar li:hover {
  border: 1px solid rgb(80, 76, 76);
}
nav input {
  width: 200px;
  padding: 5px;
  border-radius: 30px;
  color: black;
}
.profile {
  width: 80%;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.image {
  width: 200px;
  height: 200px;
  margin: auto;
}
.image img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-repeat: none;
}
.my-data {
  width: 80%;
  margin: auto;
}
